<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
   <Properties>
       <Property name="log-path">.</Property>
   </Properties>
   <Appenders>
       <RollingFile name="RollingFile" fileName="${log-path}/tron.log"
           filePattern="${log-path}/tron-%d{yyyy-MM-dd}-%i.log" >
           <PatternLayout>
               <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
           </PatternLayout>
           <Policies>
               <SizeBasedTriggeringPolicy size="100 MB" />
           </Policies>
           <DefaultRolloverStrategy max="4"/>
       </RollingFile>
       <Console name="STDOUT" target="SYSTEM_OUT">
           <PatternLayout pattern="%m%n"/>
       </Console>
   </Appenders>
   <Loggers>
       <Logger name="root" level="trace" additivity="false">
           <!--<appender-ref ref="RollingFile" level="debug"/>-->
           <appender-ref ref="STDOUT" level="debug"/>
       </Logger>
       <Root level="trace" additivity="false">
           <!--<AppenderRef ref="RollingFile"/>-->
           <AppenderRef ref="STDOUT"/>
       </Root>
   </Loggers>
</Configuration>